[submodule "OS/operatingSystemsAssignment1"]
	path = OS/operatingSystemsAssignment1
	url = https://github.com/monster0506/operatingSystemsAssignment1
[submodule "OS/operatingSystemsAssignment2"]
	path = OS/operatingSystemsAssignment2
	url = https://github.com/monster0506/operatingSystemsAssignment2
[submodule "CCN/CCN-Project-1"]
	path = CCN/CCN-Project-1
	url = https://github.com/AndrewRoddy/CCN-Project-1/
[submodule "HIC/Kent-Date-Enough-HIC"]
	path = HIC/Kent-Date-Enough-HIC
	url = https://github.com/Monster0506/Kent-Date-Enough-HIC
[submodule "HIC/SDES-NASM"]
	path = HIC/SDES-NASM
	url = https://github.com/Monster0506/SDES-NASM
[submodule "HIC/HICPortfolio"]
	path = HIC/HICPortfolio
	url = https://github.com/Monster0506/HICPortfolio
[submodule "Databases/DatabasesProject"]
	path = Databases/DatabasesProject
	url = https://github.com/Monster0506/DatabasesProject
[submodule "Databases/DatabasesHomework4"]
	path = Databases/DatabasesHomework4
	url = https://github.com/Monster0506/DatabasesHomework4
[submodule "Org/Regular-Expressions-in-Assembly"]
	path = Org/Regular-Expressions-in-Assembly
	url = https://github.com/AndrewRoddy/Regular-Expressions-in-Assembly
[submodule "Software/RollCall"]
	path = Software/RollCall
	url = https://github.com/SWE-Team-Bravo/RollCall
[submodule "Org/Assembly-List-Parser"]
	path = Org/Assembly-List-Parser
	url = https://github.com/AndrewRoddy/Assembly-List-Parser
